<form #studentForm="ngForm" (ngSubmit)="onSubmit($event)">
    <div>
        <label for="albumNo">Numer albumu</label>
        <input 
            type="number" 
            id="albumNo" 
            name="albumNo" 
            [(ngModel)]="object.albumNo" 
            required
            min="100"/>
    </div>
    <div>
        <label for="name">Imię</label>
        <input 
            type="text" 
            id="name" 
            name="name" 
            [(ngModel)]="object.name" 
            required
            minlength="3"/>
    </div>
    <div>
        <label for="surname">Nazwisko</label>
        <input 
            type="text" 
            id="surname" 
            name="surname" 
            [(ngModel)]="object.surname"
            required
            minlength="5" />
    </div>
    <div>
        <label for="groupId">Grupa</label>
        <select 
            id="groupId" 
            name="groupId" 
            [(ngModel)]="object.groupId">
            <option [value]="null">Brak grupy</option>
            <option [value]="1">Grupa pierwsza</option>
            <option [value]="2">Grupa druga</option>
            <option [value]="3">Grupa trzecia</option>
            <option [value]="4">Grupa czwarta</option>
        </select>
    </div>

    <input type="button" name="cancel" id="cancel" value="Anuluj" (click)="cancel.emit()"/>
    <input 
        type="submit" 
        name="submit" 
        id="submit" 
        value="Zapisz" 
        [disabled]="studentForm.invalid"/>
</form>