<p>students works!</p>

<form #paginationForm="ngForm" (ngSubmit)="onPaginationSubmit()">
    <label for="page">Nr strony: </label>
    <input id="page" name="page" type="number" min="0" [(ngModel)]="page" />
    <label for="count">Liczba elemntów na stronie: </label>
    <input id="count" name="count" type="number" min="0" [(ngModel)]="count" />
    <input id="submit" name="submit" type="submit" value="Pobierz"/>
</form>
<br />

<button (click)="onDataStyleChange()">
    {{isTableView ? 'JSON' : 'Tabelka'}}
</button>

<br />

<ng-container *ngIf="!isTableView">
    <div *ngFor="let s of data" (click)="choosedStudent = s" class="selectable">
        {{s | json}}
    </div>
</ng-container>

<table *ngIf="isTableView" border="1">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Grupa</th>
            <th>Nr albumu</th>
            <th>Wybierz</th>
        </tr>
    </thead>
    <tbody>
        <tr 
            *ngFor="let s of data" 
            [app-student-row]="s"
            (choosed)="onChoosedRow($event)">
        </tr>
    </tbody>
</table>

<br/>

<div *ngIf="choosedStudent">
    Wybrany student to: {{choosedStudent.name}}
    <app-formularz 
        (cancel)="choosedStudent = undefined"
        (submit)="onSubmit()">

    </app-formularz>
</div>